.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 100px;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer > a {
    margin: 10px 30px;
}