.header {
    background-color: black;
    height: 40vh;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
    width: 100vw;
}

.name {
    letter-spacing: 40px;
    font-family: 'Josefin Slab', serif; 
    transition: color 1s;
}

.name:hover {
    color: #e7b91b;
    cursor: pointer;
}

.enter {
    color: #e0bed3;
    border: 1px solid #e0bed3;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


