.homepage {
    background-color: black;
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    flex-direction: column;
    font-family: 'Josefin Slab', serif;
    width: 100vw;
    background-image: url("../images/trees-1200x800.jpg");
    background-size: cover;
}

.name {
    letter-spacing: 30px;
    padding: 25px;
    font-family: 'Josefin Slab', serif;
    transition: color 1s ease-in-out;
    color: #ffda09;
}

.name:hover {
    cursor: pointer;
}

.nav-buttons {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 100px;
}

.enter, .projects-button {
    padding: 13px 10px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    border: 1px solid white;
    
}

.nav-buttons > a {
    text-decoration: none;
}

.enter:hover, .projects-button:hover {
    animation: pulse .5s ease-out 0s alternate infinite none running;
}

@keyframes pulse {
    0% {
        color: white;
    }
    100% {
        transform: scale(1.2);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    }
}