.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    height: 100px;
    position: fixed;
    width: 100%;
}

.links {
    display: flex;
}

.links>a {
    text-decoration: none;
    margin: 10px 30px;
    font-size: 40px;
    font-family: 'Josefin Slab', serif;
    padding: 5px 10px;
    border-radius: 35px;
}